version: "3.9"

services:
  bot:
    build: ./
    container_name: wishlist_bot
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: wishlist_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - wishlist_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  wishlist_data: